extends layout

block style
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  h1 Vote Your Choice!
  if user
    div= user.user_id
    div
      button(type='button', id='logOutButton') 로그아웃
      button(type='button', id='postButton') 포스팅
    if user.user_auth == 'admin'
      button(type='button', id='adminButton') ADMIN
  else
    button(type='button', id='logInButton') 로그인
    button(type='button', id='signUpButton') 회원가입

  if postList.length
    each post in postList
      div(style='background-color:#e9e9e9; width:500px; height:100px; margin-bottom:10px;')
        div 
          a(href=`/post/${post._id}`) #{post.business_name}
        div 지역 : #{post.region_name.region_name}
        if post.tag_list.length
          span 태그 : 
          each tag in post.tag_list
            span #{tag.tag_name} 
        div 작성자 : #{post.create_id.user_name}
        div 작성일 : #{post.create_date}
  else
    div 등록된 게시물이 없습니다.


block script
  script(type='text/javascript', src='/javascripts/index.js')
