extends layout

block contents
  .ui.form
    .inline.fields#region_name
      .field
        .ui.radio.checkbox
          input.region_name(type='radio', name='region_name', value='', checked='checked')
          label 전국
      each region in regionList
        .field
          .ui.radio.checkbox
            input.region_name(type='radio', name='region_name', value=region._id)
            label #{region.region_name}
  each tag in tagList
    input(type='checkbox', name='tag_list', class='tag_list', value=tag._id)
    | #{tag.tag_name}

  if postList.length
    .ui.cards
      each post in postList
        .card
          a(href=`/post/${post._id}`)
            .image
              img(src=`${post.photo_link}`, width='300')
          .content
            a(href=`/post/${post._id}`).header #{post.place_name}
            .meta
              a(href=`/post/${post._id}`) 
                i.map.outline.icon
                |  #{post.region_name.region_name}
            .description
              each tag in post.tag_list
                a(href=`/post/${post._id}`) ##{tag.tag_name}
          .extra.content
            span.right.floated
              i.heart.outline.like.icon
              |       17 likes
            i.comment.icon
            |     3 comments
  else
    div.column
      h1 등록된 게시물이 없습니다.

block script
  script(type='module', src='/javascripts/post.js')