extends layout

block content
  header
    h1 게시물 목록
  section
    if postList
      table
        tr
          th 제목
          th 참여자 수
          th 상태
          th 작성자
          th 작성일
        each post in postList
          tr
            td 
              a(href=`/admin/post/${post._id}`) #{post.post_title}
            td #{post.voting_participant}
            td #{post.status_code}
            td #{post.create_id.user_id}
            td #{post.create_date}
    else
      div 게시물이 없습니다.
block script
  script(type='text/javascript', src='/javascripts/post.js')