extends layout

block contents
  .ui.raised.very.padded.container.segment(style='width:80%; margin:5% 0 5% 0; padding-bottom:10%;')
    div
      h1.place_name(style='margin-bottom:3%;display:inline;')= postDetail.place_name
      if user && user._id.toString() === postDetail.create_id._id.toString()
        .ui.dropdown
          i.ellipsis.vertical.icon
          .menu
            .item#updatePost
              i.edit.icon
              | 수정
            .divider
            .item#deletePost
              i.trash.alternate.icon
              | 삭제
    img.ui.avatar.image(src='/images/profile.png')
    h3.ui.header(style='display:inline-block; margin:0 2% 0 0;')= postDetail.create_id.user_name
    span= moment(postDetail.create_date).fromNow()
    .ui.dividing.header(style='margin:2% 0 2% 0;')
    h4.item
      i.map.marker.alternate.icon(style='display:inline;')
      span(style='cursor:pointer;')#modal 
        span#detail_address #{postDetail.detail_address}, #{postDetail.region_name.region_name}
      .ui.star.rating(data-rating=postDetail.star_rating, data-max-rating='5', style='margin-left:1%;')
    .ui.basic.modal
      .content
        .kakao-map(style='width:800px;height:400px;margin:auto;')
    img.ui.fluid.image(src=`${postDetail.photo_link}`, style='margin-bottom:5%;')
    p=postDetail.post_contents
    .field
      each tag in postDetail.tag_list
        .ui.column.center.aligned.stackable.divided.grid.segment.checkbox(style='margin-right:5px;')
          | ##{tag.tag_name}
    .ui.dividing.header(style='margin:2% 0 2% 0;')
    .ui.comments
      each comment in commentsList
        .comment
          a.avatar
            img(src='/images/profile.png')
          .content
            input(type='hidden', value=comment._id).comment_id
            a.author= comment.create_id.user_name
            .metadata
              span.date= moment(comment.create_date).fromNow()
              if user && user._id.toString() === comment.create_id._id.toString()
                span(style='cursor:pointer;').deleteComment 삭제
            .text= comment.comment_body
    .ui.reply.form.field
      textarea(name='comment_body', id='comment_body', style="resize: none; margin:2% 0 2% 0;")
    button(type='button').right.floated.ui.inverted.red.labeled.submit.icon.button#addComment
      i.icon.edit
      |  등록하기
block script
  script(type='text/javascript', src='//dapi.kakao.com/v2/maps/sdk.js?appkey=fa0f4ce25fd2414a706ea4a8e45af254&libraries=services')
  script(type='module', src='/javascripts/kakao-map-detail.js')
  script(type='module', src='/javascripts/post-detail.js')
