mixin makeRegionElement(region)
  tr
    td= region._id
    td= region.region_name
    td= region.status_code
    td= region.create_id
    td= region.create_date
    td= region.update_id
    td= region.update_date