mixin makeRegionElement(region)
  tr
    td
      input(type='checkbox', class='id', id=region.id, value=region.id)
    td= region.regionName
    td.isDeleted #{region.deletedAt ? 'Y' : 'N'}
    td= region.Creator.userName
    td= moment(region.createdAt).format('YYYY-MM-DD hh:mm:ss')
    td.modifier= region.Modifier.userName
    td= moment(region.updatedAt).format('YYYY-MM-DD hh:mm:ss')