mixin makeTagElement(tag)
  tr
    td
      input(type='checkbox', class='id', id=tag.id, value=tag.id)
    td= tag.tagName
    td.isDeleted #{tag.deletedAt ? 'Y' : 'N'}
    td= tag.Creator.userName
    td= moment(tag.createdAt).format('YYYY-MM-DD hh:mm:ss')
    td.modifier= tag.Modifier.userName
    td= moment(tag.updatedAt).format('YYYY-MM-DD hh:mm:ss')