mixin makeTagElement(tag)
  tr
    td
      input(type='checkbox', class='_id', id=tag._id, value=tag._id)
    td= tag.tag_name
    td(class='status_code')= tag.status_code
    td= tag.create_id.user_name
    td= moment(tag.create_date).format('YYYY-MM-DD hh:mm:ss')
    td= tag.update_id.user_name
    td= moment(tag.update_date).format('YYYY-MM-DD hh:mm:ss')